header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}
header .portfolio__titles--img {
  height: 10rem;
  width: 10rem;
}

* {
  font-family: "Mukta", sans-serif;
}

body {
  background-color: black;
  color: white;
}

main {
  background-color: rgb(133, 133, 124);
}
main .portfolio__welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  background-color: rgb(22, 58, 58);
}
main .portfolio__welcome .breakpoints {
  width: auto;
  height: 50rem;
  padding: 20rem auto;
}