header {
  display: none;
  position: fixed;
  width: 100%;
  top: 0%;
  background-color: rgb(0, 0, 0);
}
header .portfolio__titles--nav {
  background-color: rgba(207, 193, 193, 0.146);
  margin: 1rem 1rem 1rem 1rem;
}
header .portfolio__titles--nav .nav-pills {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
header .portfolio__titles--nav .nav-pills .portfolio__titles--name {
  font-size: 1rem;
}

.portfolio__aboutMe {
  background-color: rgba(63, 177, 82, 0.509);
}
.portfolio__aboutMe .portfolio__aboutMe--title {
  background-color: aqua;
}

@media only screen and (min-width: 480px) {
  * {
    background-color: pink;
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  * {
    background-color: red;
  }
}
@media only screen and (min-width: 1600px) {
  * {
    background-color: yellow;
  }
}
.portfolio__welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.portfolio__welcome .portfolio__welcome--text--h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  color: black;
  font-size: 3rem;
}
.portfolio__welcome .portfolio__welcome--text--h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: rgb(136, 84, 84);
  text-align: center;
}

* {
  font-family: "Mukta", sans-serif;
}

body {
  background-color: black;
  color: white;
}

main {
  background-color: rgb(133, 133, 124);
}