@import 'partials/_header.scss';

*{
    font-family: 'Mukta', sans-serif;
}


body{
    background-color: black;
    color: white;
}

main{
background-color: rgb(133, 133, 124);

    .portfolio__welcome{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2rem auto;
        background-color: rgb(22, 58, 58);

        .breakpoints{
            width: auto;
            height: 50rem;
            padding: 20rem auto;
        }
    }
}
