@import 'partials/_mixins.scss', 'partials/_background.scss', 'partials/_responsive.scss', 'partials/_header.scss', 'partials/_welcome.scss', 'partials/_aboutMe.scss', 'partials/_activities.scss', 'partials/_activities.scss', 'partials/_languages.scss', 'partials/_education.scss', 'partials/_experience.scss', 'partials/_projects.scss', 'partials/_footer.scss';

*{
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    color: rgb(169, 176, 236);
}

main{
background-color: rgb(0, 0, 0);
    .secondBackground{
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 82, 141) 100%);
    }
}
