@import 'partials/_header.scss', 'partials/_aboutMe.scss', 'partials/_footer.scss', 'partials/_mixins.scss', 'partials/_responsive.scss', 'partials/_variables.scss', 'partials/_welcome.scss';

*{
    font-family: 'Mukta', sans-serif;
}


body{
    background-color: black;
    color: white;
}

main{
background-color: rgb(133, 133, 124);
}
