.portfolio__activities--li--r--img--vb{
    height: auto;
    width: 70%;
    border-radius: 4rem;
}
.portfolio__activities--li--r--img--self{
    height: auto;
    width: 70%;
    border-radius: 2rem;
}
.portfolio__activities--li--l--img--games{
    height: auto;
    width: 100%;
    border-radius: 4rem;
}
.portfolio__activities--li--l--img--problem{
    height: auto;
    width: 100%;
    border-radius: 5rem;
}

.portfolio__activities{
    .portfolio__activities--ul{
        @include listContainer;
        .portfolio__activities--title{
        @include title-list;
        }
        .portfolio__activities--li--div{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            flex-direction: column;
            .portfolio__activities--li--r{
                @include listImgText;
            }
            .portfolio__activities--li--l{
                @include listTextImg;
            }
        }
    }
}

