.portfolio__education--section{
    display: flex;
    justify-content: center;
    width: 100%;
    
    .card{
        width: 85%;
    }
    h5{
        font-size: 1.7rem;
        color: rgb(0, 0, 0);
    }
    p{
        color: rgb(0, 0, 0);
    }
    #collapseUnam{
        margin-bottom: 1rem;
    }
    #collapseCodeacademy{
        margin-bottom: 1rem;
    }
    #collapseCoderhouse{
        margin-bottom: 1rem;
    }
    #innerInfo{
        width: 100%;
    }
}
.portfolio__education--responsive--container{
    @include responsiveEducationContainer;

    .d-flex{
        justify-content: flex-start;
        max-width: 40%;
        .nav{
            height: 100%;
            width: auto;
            display: flex;
            align-content: flex-start;
            button{
                font-size: 4rem;
                width: 100%;
            }
        }
        .tab-content{
            font-size: 3rem;
            .tab-pane{
                text-align: center;
                img{
                    align-items: center;
                }
            }
        }
    }
}

.portfolio__education{
    @include educationContainer;
}
.portfolio__education--h3{
    @include title-port-underline;
}
.portfolio__education--section{
    @include textCard;
}
