.portfolio__experience{
    padding-bottom: 2rem;
    .portfolio__experience--title{
        @include title-list
    }
    .portfolio__experience--container{
        @include experienceContainer;
        // Hay que checar aqui por que al abrir el bootstrap se ensancha
        .accordion{
            width: 25rem;
            border: solid rgba(255, 255, 255, 0.561);
        }
    }
}