footer{
    background-color: #3a901b;
    border: solid #3a901b;
    margin-top: -0.1rem;
    .portfolio__contact--container{
        @include footerContainer;
        .portfolio__contact--title{
            @include title-list;
            color: rgba(0, 0, 0, 0.85);
        }
        a{
            @include anchorFooter;
            i{
                padding-left: 1.5rem;
            }
        }
    }
};