footer{
    background-color: #3a901b;
    border: solid #3a901b;
    margin-top: -0.1rem;
    .portfolio__contact--container--formContainer{
        display: none;
    }
    .portfolio__contact--container{
        @include footerContainer;
        i{
            padding-left: 0.5rem;
        }
        .portfolio__contact--title{
            @include title-list;
            color: rgba(0, 0, 0, 0.85);
        }
        a{
            @include anchorFooter;
        }
    }
};