header{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: black;
    .portfolio__titles--nav{
        background-color: rgb(97, 102, 106);
        margin: 1rem 1rem 1rem 1rem;
        
    }
}