.portfolio__titles--nav--div{
    display: flex;
    // position: fixed;
    // width: 100%;
    // top: 0;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgba(207, 193, 193, 0.146);
    padding: 0rem 0.5rem 0rem 0.5rem;
    .portfolio__titles--nav--div--dropdown{
        position: fixed;
    }
    .portfolio__titles--nav--div--h2{
        font-size: 1.2rem;
    }
    .portfolio__titles--nav--div--h3{
        font-size: 1rem;
    }
    .portfolio__titles--nav--div--dropdown{
        background-color: rgb(49, 78, 104);
    }
    .portfolio__titles--nav--div--btn-header{
        border-radius: 2rem;
    }
    .portfolio__titles--nav--div--sidebar--desktop{
        display: none;
        // esto es por que se usará para el responsive en desktop view 
    }
}
