.portfolio__titles--nav--div{
    @include navDivContainer;
}

.portfolio__titles--nav--div--items--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .portfolio__titles--nav--div--dropdown{
        // background-color: rgb(49, 78, 104);
        width: 6.5rem;
    }
    .portfolio__titles--nav--div--dropdown a{
        color: rgb(0, 0, 0);
    }
    .portfolio__titles--nav--div--btn-header{
        border-radius: 2rem;
        font-size: 1.5rem;
        width: 25%;
        height: auto;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-color: rgb(73, 122, 0);
    }
}
.portfolio__titles--nav--div--title{
    display: none;
}
