.portfolio__foreignLanguages{
    padding: auto;
    .portfolio__foreignLanguages--title{
        @include title-list;
    }
    .portfolio__foreignLanguages--container{
        @include listContainerLanguages;
        .portfolio__foreignLanguages--languageTitle{
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 0;
            padding-left: 0;
        }
        .portfolio__foreignLanguages--li{
            font-size: 1rem;
            display: block;
        }
    }
}