// Sintaxis

// @mixin name {
//     property: value;
//     property: value;
//     ...
//   }

// ejemplo

// @mixin important-text {
//   color: red;
//   font-size: 25px;
//   font-weight: bold;
//   border: 1px solid blue;
// }

@mixin textContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
};

@mixin title-port {
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: justify;
};

@mixin text-port {
    font-size: 1.5rem;
    text-align: justify;
};

@mixin listContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-left: 0;
};

@mixin title-list {
    font-size: 2rem;
    text-align: center;
};

@mixin listImgText {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.8rem;
};

@mixin listTextImg {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.8rem;
};

@mixin listContainerLanguages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-left: 0;
    justify-content: space-around;
};

@mixin educationContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0.5rem -0.1rem 0.5rem;
    padding-left: 0;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
};

@mixin textCard {
    font-size: 1.2rem;
    text-align: center;
}

@mixin experienceContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
};

@mixin projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: #000;
};

@mixin footerContainer{
    margin: 2rem 0.5rem 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
};

@mixin anchorFooter {
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(0, 128, 109);
}


// para importar 

// selector {
//     @include mixin-name;
//   }

// ejemplo

//   .danger {
//     @include important-text;
//     background-color: green;
//   }