@mixin navDivContainer {
    height: 40%;
    background-color: rgba(171, 171, 171, 0.604);
    padding: 1rem 0.5rem 1rem 0.5rem;
    color: rgb(122, 95, 228);
    @media only screen and (min-width: 480px){
        padding: 1rem 0.5rem 0rem 0.5rem;
        display: flex;
        color: rgb(0, 0, 0);
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    @media only screen and (min-width: 1024px){
        padding: 1rem 4rem 0 4rem;
        background-color: rgb(255, 255, 255);
    }
};

@mixin textContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    @media only screen and (min-width: 1024px){
    margin: 0.5rem 0rem 0.5rem 0rem ;
    // padding: 2rem 3rem 2rem 3rem;
    }
};

@mixin title-port-underline {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: justify;
    text-decoration: underline;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        font-size: 3rem;
        margin: 1rem 1rem 3rem 1rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 4rem;
    }
    @media only screen and (min-width: 1024px){
        font-size: 3rem;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        margin: 3rem 0 0 0;
        padding: 0 6rem 0 6rem;
        // padding-left: -0.5rem;
    }
    @media only screen and (min-width: 1600px){
        font-size: 4rem;
    }
};

@mixin title-port {
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: justify;
    @media only screen and (min-width: 480px){
        font-size: 2.8rem;
        margin: 3rem 1rem 3rem 1rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 3.4rem;
        // color: rgb(25, 201, 255);
        margin: 3rem 1rem 0rem 1rem;
        padding-bottom: 1rem;
    }
        @media only screen and (min-width: 1024px){
        font-size: 2.6rem;
        padding: 1rem 5rem 0 5rem;
    }
    @media only screen and (min-width: 1600px){
        font-size: 3rem;
    }
};

@mixin text-port {
    font-size: 1.5rem;
    text-align: justify;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
        // color: rgb(25, 201, 255);
    }
    @media only screen and (min-width: 1024px){
        font-size: 2.8rem;
        padding: 2rem 6rem 0 6rem;

    }
};

@mixin personalPhotoContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
        margin: 0rem 3rem 0 3rem;
        gap: 2rem;
    }
    @media only screen and (min-width: 1024px) {
        margin: 2rem 2rem 0 5rem;
        gap: 3rem;
    }
}

@mixin photoTextPort {
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: justify;
    @media only screen and (min-width: 480px){
        font-size: 2.8rem;
        margin: 3rem 1rem 3rem 1rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
        // color: rgb(25, 201, 255);
    }
    @media only screen and (min-width: 860px) {
        font-size: 2.8rem;
        // color: rgb(25, 201, 255);
    }
        @media only screen and (min-width: 1024px){
        font-size: 3rem;
        padding: 1rem 5rem 0 5rem;
    }
    @media only screen and (min-width: 1600px){
        font-size: 4.5rem;
    }
};

@mixin imgPersonal{
    width: 15rem;
    height: auto;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        width: 17rem;
    }
    @media only screen and (min-width: 768px) {
        width: 19rem;
    }
    @media only screen and (min-width: 1024px){
        width: 20rem;
    }
    @media only screen and (min-width: 1600px){
        width: 21rem;
    }
}

@mixin desktopActivitiesContainer{
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    // background-color: rgb(0, 0, 0);
    margin: 4rem 3rem 0 4rem;
    gap: 4rem;
    @media only screen and (min-width: 1024px){
        display: flex;
    }
}

@mixin listContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-left: 0;
    @media only screen and (min-width: 1024px){
        margin: 0 0 0 0;
    }
};

@mixin title-list {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    @media only screen and (min-width: 480px){
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    @media only screen and (min-width: 768px) {
        margin-top: 3rem;
        font-size: 4rem;
        // color: rgb(25, 201, 255);
    }
    @media only screen and (min-width: 1024px){
        font-size: 3rem;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        margin: 3rem 0 0 0;
        padding: 1rem 6rem 1rem 6rem;
    }
};

@mixin listImgText {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.8rem;
    gap: 2rem;
    @media only screen and (min-width: 480px){
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
        // color: rgb(25, 201, 255);
    }
    @media only screen and (min-width: 1024px) {
        display: none;
    }
};

@mixin listTextImg {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.8rem;
    gap: 2rem;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
        // color: rgb(25, 201, 255);
    }
    @media only screen and (min-width: 1024px) {
        display: none;
    }
};

// Language

@mixin listContainerLanguages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0.5rem 2rem 0.5rem;
    padding-left: 0;
    justify-content: space-around;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        margin: 2rem 0.5rem 2rem 0.5rem;
    }
};

@mixin languageTitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-left: 0;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        font-size: 3.5rem;
    }
    @media only screen and (min-width: 768px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 4rem;
        width: fit-content;
    }
};

@mixin  languageLi{
    font-size: 1rem;
    display: block;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        font-size: 2.8rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }
};

// Education

@mixin educationContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0rem -0.1rem 0rem;
    padding-left: 0;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
};

@mixin responsiveEducationContainer{
    display: none;
    width: 90%;
    height: auto;
    background-color: rgb(221, 221, 221);
    border-radius: 1rem;
    margin: 5rem 0rem 2rem 0rem;
    @media only screen and (min-width: 1024px) {
        display: flex;
    }
    @media only screen and (min-width: 1600px) {
        display: flex;
        width: 70%;

    }
}

@mixin textCard {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    @media only screen and (min-width: 480px){
        font-size: 2rem;
    }
        @media only screen and (min-width: 1024px){
        width: 30%;
        height: fit-content;
    }
}

@mixin educationCardSection{
    display: flex;
    justify-content: center;
    width: 100%;
}

@mixin experiencePad{
    padding: 1rem 1rem 2rem 1rem;
    @media only screen and (min-width: 1024px){
        padding: 1rem 0rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@mixin experienceContainer{
    padding: 1rem 1rem 2rem 1rem;
    @media only screen and (min-width: 1024px){
        padding: 4rem 3rem 1rem 3rem;
        width: 85%;
    }
};

//Projects

@mixin projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: #000;
    @media only screen and (min-width: 1024px){
        align-items: stretch;

    }
};

@mixin projectImg{
    width: 99%;
    height: auto;
    border-radius: 1rem;
    @media only screen and (min-width: 1024px){
        width: 55%;
    }
    @media only screen and (min-width: 1600px){
        width: auto;
    }
}

// Footer

@mixin footerContainer{
    margin: 2rem 0.5rem 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
};

@mixin anchorFooter {
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(135, 245, 226);
    @media only screen and (min-width: 768px) {
        font-size: 4rem;
    }
};

@mixin greetings-port {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    @media only screen and (min-width: 768px) {
        font-size: 4rem;
    }
};

@mixin footerText{
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: justify;
    @media only screen and (min-width: 480px) and (max-width: 768px){
        font-size: 3rem;
        margin: 1rem 1rem 3rem 1rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 4rem;
    }
    @media only screen and (min-width: 1024px){
        font-size: 4rem;
        width: 75%;
        color: rgb(0, 0, 0);
        // padding-left: -0.5rem;
    }
}
