.portfolio__projects{
    @include projectsContainer;
    .carrouselContainer{
        width: 95%;
        height: auto;
        .projectCard{
            padding: 1rem 1rem 1rem 5rem;
        }
    }
}