.portfolio__projects{
    @include projectsContainer;
    .portfolio__projects--title{
        @include title-list;
        color: rgb(215, 215, 215);
    }
    .carrouselContainer{
        width: 100%;
        height: auto;
        .projectCard{
            display: flex;
            padding: 1rem 0rem 1rem 0rem;
            justify-content: center;
        }
    }
}