// Mobile
@media only screen and (max-width: 480px) {
    // *{
    //     background-color: rgba(255, 192, 203, 0.148);
    // }
}
// tablet 
@media only screen and (min-width: 480px){
    // *{
    //     background-color: rgba(255, 192, 203, 0.482);
    // }

    // Header
    .portfolio__titles--nav--div{
        .portfolio__titles--nav--div--title{
            display: flex;
            flex-direction: column;
            text-align: center;
            .portfolio__titles--nav--div--h2{
                font-size: 2.5rem;
            }
            .portfolio__titles--nav--div--h3{
                font-size: 2rem;
            }
        }
        .portfolio__titles--nav--div--items--container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .portfolio__titles--nav--div--dropdown{
                // background-color: rgb(49, 78, 104);
                width: 50%;
            }
            .portfolio__titles--nav--div--dropdown a{
                width: 21rem;
                font-size: 2rem;
            }
            .portfolio__titles--nav--div--btn-header{
                font-size: 2rem;
                width: 30%;
            }
        }
    }

    // About me
    .portfolio__aboutMe--text1{
        margin-bottom: 3rem;
    }
    .portfolio__aboutMe--text2{
        padding-bottom: 2rem;
    }
    .portfolio__foreignLanguages--languageTitle{
        font-size: 4rem;
    }
    .portfolio__foreignLanguages--li{
        font-size: 7rem;
        display: block;
    }
    // Education
    .portfolio__education--section{
        .card-title{
            font-size: 2.2rem;
        }
        .card-body p{
            font-size: 1.6rem;
        }
        .btn{
            font-size: 1.4rem;
        }
        img{
            max-height: 25rem;
        }

    }
    // Experience
    .portfolio__experience--container{
        #experienceName{
            font-size: 2rem;
        }
        .accordion-body{
            font-size: 1.6rem;
        }
    }
    // Projects
    .carrouselContainer{
        .projectCard{
            .card-title{
                // display: none;
                font-size: 2.5rem;
            }
            .card-text{
                // display: none;
                font-size: 1.7rem;
            }
            button{
                font-size: 1.5rem;
            }
            .modal-title{
                font-size: 2.3rem;
            }
            #modalBodyText{
                font-size: 1.7rem;
            }
        }
    }
}
// tablet landscape 
@media only screen and (min-width: 768px) {
    // *{
    //     background-color: rgba(255, 0, 0, 0);
    // }
    
    // Header
    .portfolio__titles--nav--div{
        .portfolio__titles--nav--div--title{
            .portfolio__titles--nav--div--h2{
                font-size: 3.5rem;
            }
            .portfolio__titles--nav--div--h3{
                font-size: 3rem;
            }
        }
        .portfolio__titles--nav--div--items--container{
            .portfolio__titles--nav--div--dropdown a{
                width: 28rem;
                font-size: 2.1rem;
            }
            .portfolio__titles--nav--div--btn-header{
                font-size: 2rem;
                width: 20%;
            }
        }
    }

    // About me
    .portfolio__aboutMe--text1{
        margin-bottom: 3rem;
    }
    .portfolio__aboutMe--text2{
        padding-bottom: 2rem;
    }
    // Activities
    #vbImg{
    width: 50%;
    }
    #gamesImg{
    width: 50%;
    }
    #nerdImg{
    width: 50%;
    }
    #problemImg{
    width: 50%;
    }
    // Languages
    .portfolio__foreignLanguages--languageTitle{
        font-size: 4rem;
    }
    .portfolio__foreignLanguages--li{
        font-size: 7rem;
    }
    // Education
    .portfolio__education--section{
        .card-title{
            font-size: 2.8rem;
        }
        .card-body p{
            font-size: 2.2rem;
        }
        .btn{
            font-size: 1.4rem;
        }
        img{
            max-height: 30rem;
        }
    }
    // Experience
    .portfolio__experience--container{
        #experienceName{
            font-size: 3rem;
        }
        .accordion-body{
            font-size: 2rem;
        }
    }
    // Projects
    .carrouselContainer{
        .projectCard{
            .card-title{
                // display: none;
                font-size: 3rem;
            }
            .card-text{
                // display: none;
                font-size: 2rem;
            }
            button{
                font-size: 1.5rem;
            }
            .modal-title{
                font-size: 2.7rem;
            }
            #modalBodyText{
                font-size: 2.2rem;
            }
        }
    }
    // Footer
    #mailButton{
        width: 40%;
        font-size: 3.5rem;
        border-radius: 1.5rem;
    }
    #openedMailButton{
        width: 15%;
        font-size: 2rem;
        border-radius: 1.5rem;
    }
    #mailLabel{
        font-size: 2.7rem;
    }
    #nameLabel{
        font-size: 2.7rem;
    }
    #messageLabel{
        font-size: 2.7rem;
    }
}
// laptop 
@media only screen and (min-width: 1024px){
    // *{
    //     // display: none;
    //     background-color: blue;
    // }

    // Background
    #stars{
        display: none;
    }
    #stars2{
        display: none;
    }
    .secondBackground{
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, #0039a6 100%);
    }
    .thirdBackground{
        background: #000000;
        background: linear-gradient(180deg, #0039a6 0%, #3a901b 100%);
    }
    // Header
    .portfolio__titles--nav--div{
        .portfolio__titles--nav--div--title{
            .portfolio__titles--nav--div--h2{
                font-size: 3rem;
            }
            .portfolio__titles--nav--div--h3{
                font-size: 2rem;
            }
        }
        .portfolio__titles--nav--div--items--container{
            .portfolio__titles--nav--div--dropdown a{
                width: 25rem;
                font-size: 2rem;
            }
            .portfolio__titles--nav--div--btn-header{
                font-size: 2rem;
                width: 15%;
            }
        }
    }

    // About me
    .portfolio_activities--desktop--container{
        
        p{
            font-size: 1rem;
        }
    }   


    .portfolio__aboutMe--text1{
        margin-bottom: 3rem;
    }
    .portfolio__aboutMe--text2{
        padding-bottom: 2rem;
    }
    .portfolio__welcome--text--h3{
        padding-left: 2rem;
    }
    // Activities


    
    // Languages
    .portfolio__foreignLanguages--languageTitle{
        font-size: 5rem;
    }
    .portfolio__foreignLanguages--li{
        font-size: 7rem;
    }
    // Education
    .portfolio__education--h3{
        width: 100%;
    }
    .portfolio__education--cards--container{
        display: none;
    }

    .portfolio__education--responsive--container{
        display: flex;
    }
    
    // Experience
    .portfolio__experience--container{
        #experienceName{
            font-size: 3rem;
        }
        .accordion-body{
            font-size: 3rem;
        }

    }
    // Projects
    #carouselExampleIndicators{
        display: flex;
        width: 90%;
    }
    .carrouselContainer{
        display: flex;
        justify-content: center;
        min-width: 100%;
        margin-top: 3rem;
        .projectCard{
            .card-title{
                // display: none;
                font-size: 3rem;
            }
            .card-text{
                // display: none;
                font-size: 2.5rem;
            }
            button{
                font-size: 2.5rem;
            }
            .modal-title{
                font-size: 3rem;
            }
            #modalBodyText{
                font-size: 2rem;
            }
            .btn{
                font-size: 2rem;
            }
        }
    }
    .modal-dialog{
        max-width: 70%
    }
    // Footer
    #mailButton{
        width: 30%;
        font-size: 3rem;
        border-radius: 1rem;
    }
    #openedMailButton{
        width: 12%;
        font-size: 2rem;
        border-radius: 1rem;
    }
    #mailLabel{
        font-size: 3.5rem;
    }
    #email_id{
        height: 5rem;
        border-radius: 0.8rem;
    }
    #nameLabel{
        font-size: 3.5rem;
    }
    #from_name{
        height: 5rem;
        border-radius: 0.8rem;
    }
    #messageLabel{
        font-size: 3.5rem;
    }
    #message{
        border-radius: 1rem;
    }
    #button{
        margin-top: 2rem;
        font-size: 2rem;
        width: 40%;
    }
}
// Desktop
@media only screen and (min-width: 1600px) {
    // *{
    //     // display: none;
    //     // background-color: yellow;
    // }
        // Education
        .portfolio__education--responsive--container{
            display: flex;
        }
        .carousel-item{
            .card{
                width: 40%;
            }
            img{
                max-height: 40rem;
                width: auto;
            }
        }
}
