// tablet 
@media only screen and (min-width: 480px) {
    *{
        background-color: pink;
        display: none;
    }
}
// tablet landscape 
@media only screen and (min-width: 768px) {
    *{
        background-color: red;
    }
}
// laptop 
@media only screen and (min-width: 1024px) {
}
// Desktop
@media only screen and (min-width: 1600px) {
    *{
        background-color: yellow;
    }
}
