.portfolio__welcome{
    background-color: yellow;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 15rem 0rem 1rem 1rem;
    padding: 1rem 0rem 1rem 1rem;
    .portfolio__welcome--text--h2{
        color: black;
        text-align: end;
        font-size: 4rem;
        padding-right: 1rem;
    }
    .portfolio__welcome--text--h3{
        color: rgb(136, 84, 84);
        font-size: 3rem;
        text-align: start;
        padding-right: 1rem;
    }
    .portfolio__welcome--img{
        width: 40rem;
        height: auto;
    }
}

